uvicorn
dotenv
fastapi
cachetools
pydantic_settings
qdrant_client
torch 
langchain_core
langchain_huggingface
sentence_transformers
#llama-cpp-python
loguru
python-multipart
docling
#python -m pip install -r requirements.txt --target=python\Lib\site-packages --no-cache-dir --only-binary=:all: