uvicorn
dotenv
fastapi
cachetools
pydantic_settings
qdrant_client
torch>=2.0.0
langchain_core
langchain_huggingface
sentence_transformers>=3.0.1
#llama-cpp-python
loguru
python-multipart
docling
# Для установки в конкретную директорию (опционально):
# Windows: python -m pip install -r requirements.txt --target=python\Lib\site-packages --no-cache-dir --only-binary=:all:
# Linux/Mac: python -m pip install -r requirements.txt --target=./site-packages --no-cache-dir --only-binary=:all: